<style>
    p, h6, h3, li {
        color: #000;
    }
</style>
<h1 style="font-weight: 700;font-size: 3rem;">Chính sách giao hàng</h1>
<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;"></h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text">
            
            PiuPiu.com giao hàng theo thời gian yêu cầu của khách hàng. Trong một vài trường hợp bất khả kháng, thời gian giao hàng có thể kéo dài hơn thỏa thuận:
           
        </p>
        <ul class="card-text">
            <li>Nhân viên của chúng tôi không thể liên hệ với khách hàng để xác nhận đơn hàng.</li>
            <li>Địa chỉ giao hàng khách cung cấp không chính xác hoặc cần thời gian để được chỉ dẫn.</li>
        </ul>

    </div>

</div>
