<style>
    p, h6, h3, li {
        color: #000;
    }

    #xxx{
        color: red;
    }
</style>
<h1 style="font-weight: 700;font-size: 3rem;">Chính sách đổi trả - bảo hành</h1>
<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;"></h3>
        <h6 class="card-subtitle mb-2 ">Khách hàng vui lòng kiểm tra kĩ đơn hàng được giao. Sau khi giao nhận hàng thành công, chính sách đổi trả sẽ không được áp dụng.</h6>

        <ul class="card-text">
            <li>Đối với hình thức tự lấy hàng tại cửa hàng: Nếu khách hàng phát hiện giao sai bánh, bánh bị hư hỏng hoặc không chính xác như yêu cầu đã thỏa thuận, vui lòng báo lại ngay nhân viên tại cửa hàng để được hỗ trợ đổi trả sản phẩm .</li>
            <li>Đối với đơn hàng đã thanh toán trước 100%: Nếu khách hàng phát hiện giao sai bánh, bánh bị hư hỏng hoặc không chính xác như yêu cầu đã thỏa thuận, vui lòng không nhận hàng. Quý khách và nhân viên giao hàng tiến hành ký xác nhận sự việc trước khi chúng tôi mang hàng về.</li>
            <li>Các trường hợp sẽ được căn cứ vào trường hợp thực tế. Cửa hàng sẽ xử lý với tốc độ cao nhất</li>
        </ul>
        <h5 id="xxx" class="card-subtitle mb-2">Chúng tôi sẽ căn cứ vào tình hình thực tế để hỗ trợ đổi bánh và xử lý đơn hàng một cách hợp lý nhất.</h5>

    </div>

</div>
