<style>
    p, h6,h3, li{
        color: #000;
    
    }
</style>
<h1 style="font-weight: 700;font-size: 3rem;">Chính sách bảo mật</h1>
<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">1.Mục đích và phạm vi thu thập thông tin</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text">
            PiuPiu.com cam kết không bán, chia sẻ hay trao đổi thông tin cá nhân của khách hàng thu thập trên trang web cho một bên thứ ba nào khác. Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty.
            <br />
            Khi bạn liên hệ đặt hàng, thông tin cá nhân mà PiuPiu.com thu thập bao gồm: Họ và tên, Địa chỉ, Số điện thoại, Email. Ngoài thông tin cá nhân là các thông tin về dịch vụ như Tên sản phẩm, Số lượng, Thời gian giao nhận sản phẩm.
        </p>

    </div>
   
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">2. Phạm vi sử dụng thông tin</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Banhsinhnhat.com cam kết chỉ sử dụng thông tin cá nhân của khách hàng trong nội bộ công ty và cho một hoặc tất cả các mục đích sau đây:</h6>
        <ul class="card-text">
            <li>Xử lý đơn đặt hàng , cung cấp thông tin và dịch vụ qua trang web Banhsinhnhat.com theo yêu cầu của bạn.</li>
            <li>Hỗ trợ khách hàng.</li>
            <li>Gửi thông tin sản phẩm, dịch vụ mới, các sự kiện sắp tới hoặc tuyển dụng nếu khách hàng đăng kí nhận email thông báo.</li>
            <li>Hỗ trợ quản lý tài khoản khách hàng; xác nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của khách hàng.</li>
        </ul>

    </div>
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">3.Thời gian lưu trữ thông tin</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Đối với thông tin cá nhân, Banhsinhnhat.com chỉ xóa đi dữ liệu này nếu khách hàng có yêu cầu. Quý khách có yêu cầu, vui lòng gửi email đến địa chỉ info@banhsinhnhat.com.</h6>
    
    </div>
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">4.Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:</h6>
        <ul class="card-text">
            <li>Nhân Viên cửa hàng trực thuộc PiuPiuCake</li>
        </ul>

    </div>
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">5. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">HỘ KINH DOANH PIUPIUCAKE</h6>
        <ul class="card-text">
            <li>Địa chỉ: Cầu Giấy Hà Nội</li>
            <li>Điện thoại: 0912 999 999 </li>
            <li>Website: Piupiu.com  </li>
            <li>Email: info@piupiu.com</li>
        </ul>

    </div>
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">6.Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text">
            PiuPiu.com không thu thập thông tin khách hàng qua trang web, thông tin cá nhân khách hàng được thực hiện thu thập qua email liên hệ đặt mua sản phẩm, dịch vụ gửi về hộp mail của chúng tôi: info@Piupiu.com hoặc số điện thoại liên hệ đặt mua sản phẩm gọi về 0912 999 999.
            <br />
            Bạn có thể liên hệ địa chỉ email cùng số điện thoại trên để yêu cầu PiuPiu.com chỉnh sửa dữ liệu cá nhân của mình.
        </p>

    </div>
</div>

<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style=" font-weight: 700;">7. Cơ chế tiếp nhận và giải quyết khiếu nại của người tiêu dùng liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo.</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Tại Piupiu.com, việc bảo vệ thông tin cá nhân của bạn là rất quan trọng. Chúng tôi cam kết không chia sẻ, bán hoặc cho thuê thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào khác. Piupiu.com cam kết chỉ sử dụng các thông tin của bạn vào các trường hợp sau:</h6>
        <ul class="card-text">
            <li>Nâng cao chất lượng dịch vụ dành cho khách hàng</li>
            <li>Giải quyết các tranh chấp, khiếu nại</li>
            <li>Khi cơ quan pháp luật có yêu cầu.</li>
        </ul>
        <p class="card-text">
            Piupiu.com hiểu rằng quyền lợi của bạn trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, <br />góp ý nào liên quan đến chính sách bảo mật của Piupiu.com, và liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo vui lòng liên hệ qua số hotline 0965 15 15 28 hoặc email: info@Piupiu.com.
        </p>

    </div>
</div>