<h1 style ="font-weight: 700;font-size: 3rem;">Hướng dẫn bảo quản</h1>
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style="color:#ff9212; font-weight: 700;">Bánh kem/kem cheese/kem sữa chua</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <ul class="card-text">
           <li>
                Bánh ngon nhất khi được ăn trong vòng 24h từ khi giao bánh.
            </li>
            <li>
                Cho bánh kem và hộp đựng hoặc bọc kín bánh lại rồi cho vào tủ lạnh, giữ ở mức nhiệt 2 - 8 độ C. Với cách bảo quản này bánh kem có thể dùng được trong vòng 2 - 3 ngày. Tuy nhiên, lớp kem bánh thường sẽ bị khô lại, giảm hương vị thơm ngon, mềm xốp vốn có.
            </li>
            <li>
                Khi bảo quản bánh kem trong tủ lạnh bạn cần lưu ý không được để bánh gần các loại thực phẩm có mùi, các loại thực phẩm này có thể gây ảnh hưởng đến mùi vị của bánh kem. Hơn nữa, bạn cần phải bọc kín bánh lại để vi khuẩn trong tủ không xâm nhập được vào bánh.
            </li>
            <li>
                Bánh fondant nên được giữ ở phòng điều hoà có nhiệt độ ổn định.
            </li>
        </ul>

    </div>
    <img src="~/bgrcake/birthday cake.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>

<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style="color:#ff9212; font-weight: 700;">Bánh cookies</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <ul class="card-text">
            <li>
                Để không gặp phải tình trạng bánh quy bị ỉu, khi không ăn hết bạn nên bọc lại bánh thật kín hoặc để vào hộp kín khí ở nơi khô ráo, thoáng mát. Tránh những chỗ ẩm ướt sẽ khiến bánh nhanh hỏng.
            </li>
            <li>
                Đặt một miếng bánh mì trắng vào hũ đựng bánh quy bạn sẽ thấy điều kì diệu xảy ra. Bánh mì có khả năng hấp thụ độ ẩm tốt, bánh của bạn sẽ luôn tươi mới và giòn rụm.
            </li>
           
        </ul>


    </div>
    <img src="~/bgrcake/cocees.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>

<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style="color:#ff9212; font-weight: 700;">Biscotti </h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <ul class="card-text">
            <li>
                Biscotti nên được bảo quản trong hộp kín khí và để ở nơi khô ráo thoáng mát. Bánh của Cake & Bake không sử dụng chất bảo quản nên dùng hết trong 1 tháng bạn nhé.
            </li>
           
        </ul>


    </div>
    <img src="~/bgrcake/darkcherryandhazelnu_92470_16x9.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>

<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style="color:#ff9212; font-weight: 700;">Eclair</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <ul class="card-text">
            <li>
                Bảo quản trong ngăn mát tủ lạnh từ 2 – 3 ngày. Trước khi ăn lấy bánh ra để ở nhiệt độ phòng khoảng 10 – 20 phút (tùy nhiệt độ), để vỏ Choux  mềm lại và phần Chocolate chảy mềm hơn.
            </li>
            
        </ul>


    </div>
    <img src="~/bgrcake/ECLAIR.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>
