<h1 style="font-weight: 700;font-size: 3rem;">Hướng dẫn mua bánh</h1>
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">Khách hàng mua bánh của piupiu.com vui lòng làm theo các bước sau:</h6>
        <p class="card-text">
            <br>
            <strong>Bước 1</strong>: Đăng nhập tài khoản, nếu chưa có hãy đăng ký<br>
            <strong>Bước 2</strong>: Chọn nhóm hoặc tìm kiếm bánh theo yêu cầu trên website<br>
            <strong>Bước 3</strong>: Chọn mẫu bánh cần đặt , số lượng<br>
            <strong>Bước 4</strong>: Thêm giỏ hàng”<br>
            <strong>Bước 5</strong>: Vào giỏ hàng (Tăng, giảm, xóa sản phẩm) -> Đặt hàng<br>
            <strong>Bước 6</strong>: Kiểm tra chi tiết đơn hàng: Thông tin khách hàng<br>
            <strong>Bước 6.1</strong>: Ghi chú: ghi các thông tin ghi trên bánh, ngày giao bánh<br>
            <strong>Bước 7</strong>: Hoàn tất đơn hàng và chờ nhân viên của piupiucake.com liên hệ xác nhận.<br>
            <strong>Bước 8</strong>: Đơn đã xác nhận vui lòng kiểm tra trạng thái tại <a href="https://localhost:7071/Admin/Order">Đơn Hàng</a><br>
            <strong>Bước 9</strong>: Nhận sản phẩm.
        </p>
        <ul class="card-text">
            <li>
                Nhập đầy đủ thông tin: Họ và tên, Email, Số điện thoại, Địa chỉ giao hàng.
            </li>
            <li>
                Kiểm tra kỹ trước khi thanh toán.
            </li>
            <li>
                Giữ Điện Thoại sau khi đặt bánh trên website.
            </li>
        </ul>
    </div>
    <img src="~/bgrcake/about-us.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>

<p>
   
</p>