<h1 style="font-weight: 700;font-size: 3rem;">Khách hàng doanh nghiệp</h1>
<br />
<div class="card" style=" margin-bottom:5px; border: none;">
    <div class="card-body">
        <h3 class="card-title" style="color:#ff9212; font-weight: 700;">Đối với các bạn:</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text">
            Đối với các khách hàng là doanh nghiệp muốn đặt bánh số lượng lớn và theo yêu cầu riêng, Piupiu.com nhận làm các loại bánh từ đơn giản đến phức tạp để phù hợp với các loại sự kiện khác nhau như lễ khai trương, tiệc trà chiều, tiệc sinh nhật, lễ ra mắt sản phẩm, lễ kỉ niệm, lễ thăng chức, tiệc liên hoan cuối năm, v.v.
            <br />
            Piupiu.com luôn có các mức giá ưu đãi cho các khách hàng doanh nghiệp tùy thuộc theo từng đơn đặt hàng. Vui lòng liên hệ hotline 0912 99 99 99 hoặc gửi yêu cầu cho chúng tôi qua email: info@Piupiu.com để được hỗ trợ nhanh nhất.
        </p>

    </div>
    <img src="~/bgrcake/about-us.jpg" class=" card-group" style="width:50%; margin: 12px auto;" alt="...">
</div>