@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đơn hàng được đặt thành công </h1>
        <h2>Đơn hàng của bạn số: @Model </h2><br /><br />
        <h1 class="text-primary text-center">PIU PIU CAKE sẽ liên hệ THEO SĐT để kiểm tra lại thông tin đơn hàng </h1>
        <h1 class="text-primary text-center">Cảm ơn quý khách</h1>
        <img src="~/img_/tet-2024/img-thanks.jpg" width="65%" />
    </div>

    <div class="col-12 text-center" style="color:maroon">
        <br />
       
    </div>
</div>
